.chart {
	margin: 20px;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: #fff;
}

.chart_title {
	font-size: 20px;
	margin-bottom: 20px;
}