.product {
	display: flex;
	flex-direction: row;
}
.top-infos {
	margin: 10px 20px 20px 20px;
	flex: 1;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: #fff;
	display: flex;
	flex-direction: column;
}

.infos-title {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.infos-img {
	border-radius: 10px;
	width: 100%;
	/* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
	margin-bottom: 10px;
}
.infos-details {
	/* margin-bottom: 10px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}
.details-left,
.details-right {
	display: flex;
	flex-direction: column;
}
.details-right {
	color: grey;
	text-align: right;
	
}
.detail-left,
.detail-right {
	/* font-size: 18px; */
	margin: 5px;
}