.sidebar {
	flex: 1;
	height: calc(100vh - 50px);
	position: sticky;
}
.sidebar_wrapper {
	padding: 20px;
	color: #555;
}
.sidebar-menu {
	margin-bottom: 10px;
}
.sidebar-menu_title {
	font-size: 13px;
	color: rgb(187, 186, 186);
}
.sidebar-menu_list {
	list-style: none;
	padding: 5px;
}
.sidebar-menu_item {
	margin: 1px 0;
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.sidebar-menu_item.active,
.sidebar-menu_item:hover {
	background: rgb(240, 240, 255);
}
.sidebar-menu-icon {
	margin-right: 5px;
}
