.productslist {
	flex: 4;
	margin: 10px 20px;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: #fff;
}

.productslist_title {
    margin-bottom: 10px;
}

.link {
	text-decoration: none;

	display: flex;
	align-items: center;
	cursor: pointer;
}

.productslist-datagrid {
	width: 100% !important;
	border: none !important;
}

.products_img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 10px;
}

.actions-wrapper {
	padding: 6px;
}

.action {
	cursor: pointer;
	color: #7f7f7f;
}
.action_delete {
	color: #c90000;
}
.action_edit {
	color: #028816;
}
.action_delete:hover {
	color: #760000;
}
.action_edit:hover {
	color: #00450a;
}

/* add section */
.addProduct_wrapper {
	flex: 4;
	margin: 10px 20px;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: #fff;
}

.addProduct_title {
	margin-bottom: 20px;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.form-title {
	margin-bottom: 50px;
}

.addform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-inputs {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    margin-bottom: 30px;
}
.add_input {
	border: none;
	outline: none;
	color: #5550bd;
	border-bottom: 1px solid #5550bd;
	padding: 7px 5px;
	font-size: 20px;
}
.input::placeholder {
	color: #5550bd;
}

.add_input:focus {
	border-bottom: 3px solid #5550bd;
}

.addform_btn {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    background: #5550bd63;
    outline: none;
	border: 1px solid #5550bd;
    border-radius: 10px;
    cursor: pointer;

}

.addform_btn:hover {
    background: #5550bd95;

}
